bbody, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #fafafa;
    overflow: hidden; /* Prevent scrolling */
}

#appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Ensure no overflow */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
  
  header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  header p {
    margin: 10px 0 0;
    font-style: italic;
  }
  
  #topBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #424242;
  }
  
  #topBar select, #topBar button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  
  #topBar button:hover, #topBar select:hover {
    background-color: #0056b3;
  }
  
  #canvasContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden; /* Prevent internal scrolling */
}

canvas {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: 100%; /* Ensure canvas does not overflow its container */
    max-width: 100%;
}